/*apiVersion: v1
kind: Service
metadata:
  labels:
    app: webapp
    k8s-app: webapp
  name: webapp
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  type: LoadBalancer
  selector:
    app: webapp */


apiVersion: v1
kind: Service
metadata:
  name: webapp
  labels:
    app: webapp
    k8s-app: webapp
spec:
  selector:
    app: webapp
  ports:
    - name: http
      port: 80          
      targetPort: 8080  
      protocol: TCP
  type: LoadBalancer
